.verify-account {
  display: flex;
  justify-content: center;
  align-items: center;

  & > section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    & > h1 {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}
