.select-account-type {
  background-color: var(--primary-background);
  display: flex;

  & > section {
    height: 100vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & > article {
      & > header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & > h1 {
          color: var(--black-font);
          font-size: 2rem;
          font-weight: 500;
        }

        & > p {
          margin-top: 15px;
          color: var(--secondary-font);
          font-size: 1rem;
          font-weight: 400;
        }
      }

      & > form {
        display: flex;
        flex-direction: column;
        margin-top: 50px;

        .input-with-icon {
          display: flex;
          flex-direction: row;
          align-items: center;

          & > input {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 20px;
          }

          & > p {
            font-size: 1rem;
            font-weight: 400;
          }

          &:nth-last-child(2) {
            margin-top: 10px;
          }
        }

        .link {
          display: flex;
          justify-content: center;
          align-items: center;
          width: calc(27rem + 23px);
          height: 2.5rem;
          border-radius: 5px;
          color: var(--white-font);
          font-size: 1rem;
          font-weight: 400;
          background-color: var(--button);
          margin-top: 50px;
          text-decoration: none;
        }
      }
    }
  }

  & > aside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 30%;
    background-image: url("../../assets/bricks.jpg");

    & > h1 {
      color: var(--white-font);
      font-size: 2rem;
      font-weight: 600;
    }
  }
}
