:root {
  --primary-background: #ffffff;

  --black-font: #111111;
  --grey-font: #767676;
  --white-font: #ffffff;
  --secondary-font: #402814;

  --input-border: #260101;
  --button: #421718;
  --icon: #421718;
}

* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
